@import "../../../../css/modules/user/pheix-shopcat.css?0.8.115" screen;
@import "../../../../css/modules/user/pheix-feedback.css?0.8.115" screen;

BODY {
	margin: 0px;
	padding: 0px;
	/*font-family: 'Scada', sans-serif;*/
	font-family: 'PT Sans', sans-serif;
	font-size:12pt;
}

IMG {
	border-style: none;
}

A > IMG {
	border: none;
}

*:focus {
	outline: none !important;
}

H1 {
	font-size:24pt;
	padding: 0px;
	margin: 25px 0px 15px 0px;
}

Q::before, Q::after {
	content: '';
}

.pheix-404-title {
	text-align: center;
	margin-top: 4.7rem;
}

.pheix-404-icon {
	text-align: center;
	padding: 11px 0 10px 0;
	margin: 0px;
	font-size: 50pt;
	opacity: .1;
	color: #111;
}

.pheix-404-description {
	text-align: center;
	margin-bottom: 3rem;
}

A.common-active-item-close {
	display: inline-block;
	position: absolute;
	top: -2px;
	left: 0px;
	width: 35px !important;
}

A.common-active {
	padding-left: 35px !important;
}

A.common-active + UL {
	display: block !important;
}

/* custom widthers */

.common-w-10 {
	width: 10%;
}

.common-w-40 {
	width: 40%;
}

/* right menu */

.common-right-menu P > Q > A::after {
	display: inline-block;
	position: relative;
	width: 35px;
	height: 47px;
	content: '';
	background-image: url('../images/request-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.common-right-menu P > Q > A:hover::after {
	background-image: url('../images/request-icon-active.png');
}

.common-right-menu P > Q > A::after {
	position: relative;
	display: inline-block;
	top: 20px;
	left: 10px;
}

.common-right-menu P > Q > A, .common-right-menu > P > Q > A:visited {
	position: relative;
	display: inline-block;
	left: 0px;
	line-height: 2em;
	color: #bb9c88;
	margin-bottom: 3rem;
}

.common-right-menu P > Q > A:hover {
	color: #ddccc2;
	font-weight: normal;
	text-decoration: none;
}

.common-right-menu UL {
	margin-top: 1rem;
}

.common-right-menu UL,
.common-right-menu OL {
	display: block;
	list-style: none;
	margin-bottom: 1.5rem;
	padding: 0px;
}

.common-right-menu UL LI,
.common-right-menu OL LI
 {
	display: block !important;
	position: relative;
}

.common-right-menu UL LI A,
.common-right-menu OL LI A {
	display: block;
	width: 100%;
	line-height: 1.3em !important;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
}

.common-right-menu P {
	margin-bottom: 2rem;
}

.common-right-menu P > A  {
	display: block;
	width:100%;
	line-height: 2em;
}

.common-right-menu A:hover {
	font-weight: normal;
	text-decoration: none;
}

.common-right-menu UL A, .common-right-menu UL A:visited {
	color: #ccc;
}

.common-right-menu UL A:hover {
	color: #fff;
}

.common-right-menu OL A, .common-right-menu OL A:visited {
	color: #7c7c7c;
}

.common-right-menu OL A:hover {
	color: #bbb;
}

.common-right-menu P > A, .common-right-menu P A:visited {
	color: #bb9c88;
}

.common-right-menu P > A:hover {
	color: #ddccc2;
}

.common-right-menu P > BR {
	display: none;
}

/* right menu drop right */

.common-right-menu UL LI UL,
.common-right-menu OL LI UL {
	display: none;
	text-align: left;
	z-index: 1;
	padding: 10px 50px;
}

.common-right-menu UL LI UL A,
.common-right-menu OL LI UL A {
	line-height: 1.3em !important;
	padding: 5px 0px !important;
}

/* id dependent */

#generic-content-container OL.common-true-numeric-list {
	padding-left: 1rem;
}

#generic-content-container OL.common-true-numeric-list LI {
	padding-left: .5rem; /* .8 - similar padding to overriden bullets */
}

#generic-content-container UL,
#generic-content-container OL:not(.common-true-numeric-list) {
	padding: 0px;
}

#generic-content-container UL LI UL,
#generic-content-container OL:not(.common-true-numeric-list) LI UL {
	padding-left: 0px;
}

#generic-content-container UL LI UL LI,
#generic-content-container OL:not(.common-true-numeric-list) LI UL LI {
	padding-left: 25px;
	background-size: 14px !important;
}

#generic-content-container UL LI,
#generic-content-container OL:not(.common-true-numeric-list) LI {
	padding-left: 28px;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style: none;
	/*line-height: 2.5em;*/
	font-weight: normal;
	background-size: 17px !important;
}

#generic-content-container UL LI {
	background: url('../images/bullet-icon-1.png') no-repeat 0px 10px;
}

#generic-content-container OL:not(.common-true-numeric-list) LI {
	background: url('../images/bullet-icon-2.png') no-repeat 0px 10px;
}

#generic-content-container UL LI UL LI,
#generic-content-container OL:not(.common-true-numeric-list) LI UL LI {
	background: url('../images/bullet-icon-3.png') no-repeat 0px 12px;
}

#generic-content-container UL LI UL,
#generic-content-container OL:not(.common-true-numeric-list) LI UL {
	padding-top: 5px;
}

#generic-content-container TABLE {
	border-collapse: collapse;
}

#generic-content-container TABLE,
#generic-content-container TD,
#generic-content-container TH {
	padding: .5rem;
	border: 1px solid #35274A;
}

/* misc */

.common-w45p {
	width: 45%;
}

.common-logo {
	padding-right: calc( 10px + 3rem );
}

.common-logo-primary {
	display: inline-block;
	width: 160px;
	margin-bottom: 20px;
}

.common-logo-secondary {
	display: inline-block;
	width: 110px;
	padding-top: 20px;
	border-top: 1px solid #555;
}

.common-logo-xs {
	/*position: relative;
	top: -7px;*/
	height: 25px;
}

.common-footer-h {
	height: 178px;
}

/* language menu */

.common-lang {
	color: #555;
	font-size: 10pt;
}

.common-lang A, .common-lang A:visited {
	color: #555;
}

.common-lang A:hover {
	color: #ccc;
	text-decoration: none;
}

.common-lang-select,
.common-lang-select A,
.common-lang-select A:visited {
	color: #de061b !important;
}

/* menu section no.1 */

.common-sec-1 A, .common-sec-1 A:visited {
	display: block;
	line-height: 2em;
	color: #ddd;
}

.common-sec-1 A:hover {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

/* menu section no.2 */

.common-sec-2 A, .common-sec-2 A:visited {
	display: block;
	line-height: 2em;
	color: #7c7c7c;
}

.common-sec-2 A:hover {
	color: #aaa;
	font-weight: normal;
	text-decoration: none;
}

/* menu section no.3 */

.common-sec-3 A, .common-sec-3 A:visited {
	display: block;
	line-height: 2em;
	color: #bb9c88;
}

.common-sec-3 A:hover {
	color: #ddccc2;
	font-weight: normal;
	text-decoration: none;
}

/* menu section request */

.common-nav-request A, .common-nav-request A:visited {
	position: relative;
	top: -2px;
	display: inline-block;
	line-height: 2em;
	color: #bb9c88;
	margin-right: 10px;
}

.common-nav-request A:hover {
	color: #ddccc2;
	font-weight: bold;
	text-decoration: none;
}

UL.common-list LI {
	padding-left: 28px;
	list-style: none;
	line-height: 2.5em;
	font-weight: normal;
	background-size: 17px !important;
}

UL.common-list LI UL LI {
	background-size: 14px !important;
}

.common-dropdown {
	position: relative;
	top: -.5rem !important;
	left: calc( 3rem + 15px ) !important;
	width: 200px !important;
	border-radius: 0px !important;
	border: none !important;
	text-align: center;
}

.common-toggle {
	width: 100% !important;
}

.common-drop-pointer {
	position: absolute;
	top: 18px;
	left: calc( (-3rem - 16px)/2 - 1px );
}

.common-useful-block {
	line-height: 1.2 !important;
	font-size: 10pt;
}

.common-useful-block H3, .common-useful-block H5 {
	margin-bottom: 1.5rem;
}

.common-useful-block H3 {
	font-size: 1.25rem !important;
}

.common-useful-block P > BR {
	display: none;
}

.common-useful-block P {
	color: #777;
	font-size: 10pt;
	margin-bottom: 1.5rem;
	padding-bottom: 12px;
	border-bottom: 1px dotted #aaa;
}

.common-useful-block P > A, .common-useful-block P > A:visited {
	display: block;
	color: #35274A;
	font-weight: bold;
	margin-bottom: 10px;
}

.common-useful-block P > A:hover {
	color: #3e285e;
}

.common-hr {
	width:100%;
	margin-top: 3rem;
	border-top: 1px dotted #aaa;
}

.common-pharma-tech-g {
	width: 100px
}

.common-footer-bg {
	background: url('../images/index-bot.png') no-repeat;
	font-size: 10pt;
}

.common-footer-bg A, .common-footer-bg A:visited {
	color: #35274A;
}

.common-footer-bg P > IMG {
	margin-right: .5rem;
}

.common-ptg {
	position: relative;
	top: -1rem;
}

/* media screens */

@media( min-width:110px) {
	.common-right-menu > A, .common-right-menu > A:visited {
		padding-right: 0px;
	}
	.common-right-menu UL LI A,
	.common-right-menu OL LI A {
		padding-right: 0px;
		padding-left: 3px;
	}
	.common-right-menu P {
		padding-left: 3px;
		padding-right: 0px;
	}
	.common-lang {
		padding-left: 3px;
		padding-right: 0px;
	}
	.mh100vh {
		min-height: auto;
	}
	.common-footer-bg {
		background-size: 75%;
		background-position: right bottom;
	}
}

@media( min-width:360px) { }

@media( min-width:420px) { }

@media( min-width:500px) {
	.common-footer-bg {
		background-size: 60%;
	}
}

@media (min-width:576px) { }

@media (min-width:640px) {
	.common-footer-bg {
		background-position: center bottom;
	}
}

@media( min-width:768px) {
	.common-footer-bg {
		background-size: 380px;
	}
}

@media( min-width:992px) {
	.common-right-menu > A, .common-right-menu > A:visited {
		padding-right: calc( 10px + 3rem );
	}
	.common-right-menu UL LI A,
	.common-right-menu OL LI A {
		padding-right: calc( 10px + 3rem );
		padding-left: calc( 10px + 3rem );
	}
	.common-right-menu P {
		padding-left: 0px;
		padding-right: calc( 10px + 3rem );
	}
	.common-right-menu UL LI UL,
	.common-right-menu OL LI UL {
		position: absolute;
		top: calc( -1em - 10px );
		margin-left: 100%;
		width: 330px;
	}
	.common-right-menu UL LI UL::before,
	.common-right-menu OL LI UL::before {
		position: absolute;
		display:block;
		left: -33px;
		top: 1rem;
		width: 64px;
		height: 20px;
		background-image: url('../images/drop-pointer.png');
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
	}
	.common-right-menu UL LI:hover UL,
	.common-right-menu OL LI:hover UL {
		display: block;
	}
	.common-right-menu UL LI UL:hover ,
	.common-right-menu OL LI UL:hover  {
		display: block;
	}
	.common-lang {
		padding-left: 0px;
		padding-right: calc( 10px + 3rem );
	}
	.common-ptg {
		padding-right: calc( 10px + 3rem );
	}
}

@media( min-width:1160px) {
	.mh100vh {
		min-height: calc( 100vh - 178px );
	}
	.common-footer-bg {
		background-size: 430px;
	}
}

/* override bootstrap style */

.dropdown-toggle::after {
	display: none !important;
}
