.pg-logo-xs {
	top: -9px !important;
}

.pg-dd {
	background-image: url('../images/pg-drop-bg.png');
	/*background-color: #35274A;*/
}

.pg-nav {
	background-image: url('../images/pg-nav-bg.png');
	/*background-color: #35274A;*/
}

.pg-cnt {
	background-image: url('../images/pg-cnt-bg.png');
	color: #35274A;
}

.pg-index-top-img {
	width: 100%;
	background-repeat: no-repeat;
}

.pg-right-menu UL LI UL,
.pg-right-menu OL LI UL {
	background-image: url('../images/pg-drop-bg.png');
}

#generic-content-container TABLE TH {
	background-color: #a7b4cc;
	text-align: left;
	font-weight: bold;
}

/* media screens */

@media( min-width:110px) {
	.pg-index-top-img {
		height:111.5px;
		background-size: cover;
	}
	#generic-content-container {
		min-height: calc( 100vh - 178px - 112px - 51px );
	}
}

@media( min-width:360px) { }

@media( min-width:420px) { }

@media( min-width:500px) {
	.pg-index-top-img {
		background-size: contain;
		height: 120px;
	}
	#generic-content-container {
		min-height: calc( 100vh - 178px - 120px - 51px );
	}
}

@media (min-width:576px) { }

@media (min-width:640px) {
	.pg-index-top-img {
		height: 130px;
	}
	#generic-content-container {
		min-height: calc( 100vh - 178px - 130px - 51px );
	}
}

@media( min-width:768px) { }

@media( min-width:992px) { }

@media( min-width:1160px) {
	.pg-index-top-img {
		height: 150px;
	}
	#generic-content-container {
		min-height: auto;
	}
}
