.tqv-dd {
	background-image: url('../images/tqv-drop-bg.png');
	/*background-color: #35274A;*/
}

.tqv-nav {
	background-image: url('../images/tqv-nav-bg.png');
	/*background-color: #35274A;*/
}

.tqv-cnt {
	background-image: url('../images/tqv-cnt-bg.png');
	color: #35274A;
}

.tqv-index-top-img {
	width: 100%;
	background-repeat: no-repeat;
}

.tqv-right-menu UL LI UL,
.tqv-right-menu OL LI UL {
	background-image: url('../images/tqv-drop-bg.png');
}

#generic-content-container TABLE TH {
	background-color: #b4b8d9;
	text-align: left;
	font-weight: bold;
}

/* media screens */

@media( min-width:110px) {
	.tqv-index-top-img {
		height:111.5px;
		background-size: cover;
	}
	#generic-content-container {
		min-height: calc( 100vh - 178px - 112px - 51px );
	}
}

@media( min-width:360px) { }

@media( min-width:420px) { }

@media( min-width:500px) {
	.tqv-index-top-img {
		background-size: contain;
		height: 120px;
	}
	#generic-content-container {
		min-height: calc( 100vh - 178px - 120px - 51px );
	}
}

@media (min-width:576px) { }

@media (min-width:640px) {
	.tqv-index-top-img {
		height: 130px;
	}
	#generic-content-container {
		min-height: calc( 100vh - 178px - 130px - 51px );
	}
}

@media( min-width:768px) { }

@media( min-width:992px) { }

@media( min-width:1160px) {
	.tqv-index-top-img {
		height: 150px;
	}
	#generic-content-container {
		min-height: auto;
	}
}
